/nbproject/private/
/Futbol-ejb/nbproject/private/
/Futbol-ejb/dist/
/Futbol-ejb/build/
/Futbol-war/nbproject/private/
/Futbol-war/build/
/build/
/Futbol-war/dist/
/Cliente-ejb/nbproject/private/
dist/AplicacionFutbol.ear
